*{
    padding: 0%;
     margin: 0%;
    box-sizing: border-box;
    
}

#nav{
    border: 2px solid;
    height: 70px;
    background-color: black;
}

#sub-nav{
    /* border: 2px solid red; */
    height: inherit;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    
    font-weight: 700;
}

#sub-nav span svg{
    fill: white;
    height: 2em;
}

.demo{
    display: flex;
    height: 500px;
    width: inherit;
    background-color:rgb(180, 155, 200);
}
.demo h1{
    padding-top: 100px;
    align-items: center;
    padding-left: 600px;
    font-size: 40px;
    font-weight: 900;
}

#sub-nav ol{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    color: white;
    
}
#sub-nav ol li button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
#sub-nav ol li button:hover {
    color: #00ff40;
}

